@import '../../styles/variables.scss';

.thumbnail {
  display: block;
  margin-bottom: 12px;
  padding: 4px;
  padding-bottom: 12px;
  box-shadow: none;
  transition: text-shadow 0.3s, opacity 0.4s;
  opacity: 0;
  p {
    font-size: 90%;
    line-height: 1.4;
  }
}

.thumbnail.visible {
  opacity: 1;
}

.thumbnail-item {
  display: -webkit-box;
  width: fit-content;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.thumbnail-item__date {
  font-weight: lighter;
  color: silver;
}

.thumbnail-info__wrapper {
  display: flex;
  align-items: center;
}
.thumbnail-item__category {
  display: inline-block;
  margin-left: 10px;
  padding: 0.2rem 0.8rem;
  border-radius: 15px;
  font-size: 0.8rem;
  font-family: 'Catamaran';
  font-weight: bolder;
  height: fit-content;
  transform: translateY(-6px);
}
