.unsplash-wrapper {
  position: relative;
  margin-bottom: 3rem;
}

// .unsplash-thumbnail-image{
// }

.unsplash-author {
  position: absolute;
  right: 0;
}

.caption {
  text-align: center;
  font-size: 90%;
  opacity: 70%;
}
